<%= form_with(model: confession) do |form| %>
  <% if confession.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(confession.errors.count, "error") %> prohibited this confession from being saved:</h2>

      <ul>
        <% confession.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="jtwot" style="display:flex;flex-direction:column;align-items:center;">
  <div class="form-floating">
    <%= form.label :Confess ,for:"floatingTextarea"%>
    <%= form.text_field :title, class: "form-control", id:"floatingTextarea",style:"width:400px"%>
  </div>

  <br><br>
  <div class="input-group mb-3">
    <%= form.label :Images ,for:"floatingTextarea2",class:"input-group-text" %>
    <%= form.file_field :avatars,multiple:true,type:"file" ,class:"form-control" ,id:"inputGroupFile01" %>
  </div>

<br>
  <div style="display:flex;flex-direction:row;gap:10px">
    <%= form.submit class:"btn btn-warning"%>
    <%= link_to "Back to confessions", confessions_path ,class:"btn btn-warning"%>
  </div>

</div>
<% end %>
