<div id="<%= dom_id blog %>">
  <p>
    <strong>Name:</strong>
    <%= blog.name %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= blog.designation %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= blog.content %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= blog.likes %>
  </p>

  <p>
    <strong>Dislikes:</strong>
    <%= blog.dislikes %>
  </p>

</div>
