<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <div class="input-group mb-3">
    <%= form.label :designation,class:"input-group-text" ,id:"inputGroup-sizing-default"%>
    <%= form.text_field :designation, class:"form-control" %>
  </div>



<div class="input-group mb-3" >
   <%= form.label :content, class:"input-group-text" ,id:"inputGroup-sizing-default"%>
    <%= form.text_field :content , class:"form-control"%>
    </div>
<div class="input-group mb-3">
    <%= form.label :likes, class:"input-group-text" ,id:"inputGroup-sizing-default"%>
    <%= form.number_field :likes , class:"form-control"%>
  </div>

  <div class="input-group mb-3">
    <%= form.label :dislikes,class:"input-group-text" ,id:"inputGroup-sizing-default" %>
    <%= form.number_field :dislikes , class:"form-control"%>
  </div>


<div class="input-group mb-3">
  <%= form.label :pictures,class:"input-group-text" ,for:"inputGroupFile01" %>
  <%= form.file_field :pictures,multiple:true ,class:"form-control" ,id:"inputGroupFile01"%>
</div>



  <div style="padding-left:140px">
     <!--<%= link_to "Back to blogs", blogs_path  ,class:"btn btn-outline-dark"%>-->
     <%= form.submit class:"btn btn-primary" %>
  </div>
  </div>
<% end %>
