<%= stylesheet_link_tag 'index'%>
<div class="my-blogs">
<p style="color: green"><%= notice %></p>

<h1 style="text-align:center">My Blogs</h1>

<div id="blogs">
  <% @myblog.each do |blog| %>
    <%= render blog %>
    <p>
      <button type="button" class="btn btn-light"><%= link_to "Show this blog", blog %></button>
    </p>
    <br><br>
  <% end %>
</div>
<button type="button" class="btn btn-light"><%= link_to "New blog", new_blog_path %></button>
</div>