<%= stylesheet_link_tag 'index'%>
<p style="text-align:center;font-size:xxx-Large;">MY BLOGS</p>

  <div class="full_my_blog">
  <div class="main_blog_show">
    <% Blog.all.each do |blog|%>
    <div class="talk-bubble tri-right bordert roundt btm-left-in">
      <div class="talktext">
        <div class="showing_blog_now">
        <div class="head">
          <%= blog.content%>
        </div>
        <div class="show_con">
          <% blog.pictures.each do |file| %>
          <%= image_tag file, style: "width: 200px; height: 150px;" %>

          <% end %>
        </div>
        <div class="like_dislike_show">
          <i class="bi bi-hand-thumbs-up"><%= blog.likes%></i>
          <i class="bi bi-hand-thumbs-down"><%= blog.dislikes%></i>
        </div>
        <div class="button_show">
          <%= link_to "Edit", edit_blog_path(blog), class: "btn btn-primary",style:"width:10%" %>
          <%= link_to "Delete", blog_path(blog), method: :delete, class: "btn btn-danger", style: "width:10%" %>
            

        </div>

        </div>

      </div>
    </div>

    <%end%>
  </div>
  <div class="my_blog_buttons">
    <%= link_to "Add New Blog", new_blog_path, class: "btn btn-primary" ,style:"width:200px"%>

    <%= link_to "Back to Blogs","/home/index", class: "btn btn-info" ,style:"width:200px"%>
  </div>
  </div>
