<%= stylesheet_link_tag 'index'%>
<div class="show-blog">
<p style="color: green"><%= notice %></p>
<h3 style="text-align:center">Showing blog</h3>
<br>
<%= render @blog %>

<div>
<%= link_to "Edit this blog", edit_blog_path(@blog),class:"btn btn-warning" %>
   <b>or<b>
<%= link_to "Back to blogs", blogs_path ,class:"btn btn-warning"%>
  
  <br><br>
  <%= button_to "Destroy this blog", @blog,class:"btn btn-danger" ,method: :delete %>
</div>
</div>
