<%= stylesheet_link_tag 'chats'%>
<%= stylesheet_link_tag 'index'%>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

<%= render 'partials/navbar' %>
<div class="container1">
<div class="col1">
    <div class="rows1">
<center><b><h1>User Active</h1></b></center>
    </div>
    <div class="border" style="width:100%;height:1px">
   </div>

   <div class="border" style="width:100%;height:1px">
   </div>

    <div class="border" style="width:100%;height:1px">
   </div>


    <div class="border" style="width:100%;height:1px">
   </div>

<% User.all.each do |user|%>


<%=  button_to rooms_path(room: { name: @user.id, senderid: current_user.id, receiverid: user.id }), method: :post do %>
  <div class="rows5">
    <div class="col3">
      <i class="bi bi-person-circle"></i>
    </div>
    <div class="col4">
      <div class="rows6">
        <% if user.name !=nil%>
        <b><%= user.name %></b>
        <%else%>
        <b>Anonymous user</b>
        <%end%>
      </div>
      <div class="rows7 text-truncate">
        <% if user.designation !=nil%>
        <b><%= user.designation %></b>
        <%else%>
        <b>student</b>
        <%end%>
      </div>
    </div>
  </div>

<% end %>

<% end %>
</div>

<div class="col2">
  <div class="Anonymous-header">
    <h2 style="text-align:center; font-family:fantasy">MAITRI CHAT</h2>
  </div>
  <div class="main_chat">
    <div class="if_empty_chat">
      <%= image_tag 'logo.png',style:"width: 500px; height: 500px;opacity:50%" ,class:"rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"%>
    </div>
    <div class="if_not_empty_chat">

      <div class="message-box">
        <div class="message sent">
          <p style="padding-top:10px">Hello! How are you?</p>
        </div>
        <div class="message received">
          <p style="padding-top:10px">Hello! I am fine</p>
        </div>
      </div>
      <div class="message-send">
        <div class="emoji">
          <ion-icon name="happy-outline"></ion-icon>
          <ion-icon name="attach-outline"></ion-icon>
        </div>
        <div class="reply-main">
          <textarea class="form-control"  rows="1"></textarea>
        </div>
        <div class="reply-send">
          <ion-icon name="send-outline"></ion-icon>
        </div>
      </div>
      </div>
    </div>


</div>

</div>
<%= render 'partials/footer' %>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
