<%= stylesheet_link_tag 'index'%>
<%= stylesheet_link_tag 'chat'%>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

<%= render 'partials/navbar' %>
<div class="vwrapper">


  <div id="row3">
    <div id="col1">
    <div class="my_profile">
    <div class="profile_logo">
      
    </div>
    <div class="profile_name">

    </div>
    <div class="profile-designation">

    </div>

      </div>

    </div>
    <div id="col2">


      <% Blog.all.each do |blog|%>
        <div class="card">
          <div class="card-body" style="padding:10px;">
            <div class="row">
              <div class="col_1">
                <a href="#">
                  <i class="bi bi-person-circle" style="font-size:50px;"></i>
                </a>
              </div>

              <div class="col_2" ,style="width:10%">
                <p><%= blog.name%></p>
                <p class="designation"><%= blog.designation%></p>
              </div>

              <hr>

              <div class="col"></div>
            </div>

            <div class="row">
              <p><%= blog.content%>
              </p>
            </div>

            <br>

            <div class="sfs">

                    <% blog.pictures.each do |file| %>
                    <%= image_tag file %>
                    <% end %>
              <br>
            </div>

            <hr>

            <div class="row">
              <div class="col">
                <%= form_with(model: blog) do |form| %>

                <% @blogs=blog.likes+1%>
                  <%= form.hidden_field :likes, value: @blogs %>
                  <h3 id="blog-last">
                    <a href="#"><%= button_tag( :class => "button_green") do %>
                      <i class="bi bi-hand-thumbs-up"></i>
                    <% end %>
                  </a><%= blog.likes%></h3>
              <%end%>
            </div>

            <div class="col">
              <%= form_with(model: blog) do |form| %>
              <% @blogs1=blog.dislikes+1%>
                <%= form.hidden_field :dislikes, value: @blogs1 %>
                <h3 id="blog-last">
                  <a href="#"><%= button_tag( :class => "button_green") do %>
                    <i class="bi bi-hand-thumbs-down"></i>
                  <% end %>
                </a><%= blog.dislikes%></h3>
            <%end%>
          </div>


          <div class="col">
            <div class="coll">
              <div id="blog-last">
                <a href="#" >
                  <i class="bi bi-chat-right-text" ></i>
                </a></div>
                <div id="comments-1"> Comment </div>
            </div>

          </div>


          <div class="col"><br>
            <div class="coll">
              <div id="blog-last">
                <a href="#">
                  <i class="bi bi-bookmark-check"></i>
                </a></div>
                <div id="comments">Bookmark</div>
            </div>
            </div>

        </div>

      </div>

<div class="comment-card">

    <div class="comment_blog">
        <div class="rowa" id="main_comment">
              <div class="cola" style="width:8%">
                          <i class="bi bi-person-circle" id="comment_icon" style="font-size:30px;"></i>
              </div>
              <div class="cola" style="width:70%">
                            <div class="form-floating" id="add_comment">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                            <label for="floatingTextarea">Your Comment</label>
                            </div>
              </div>
              <div class="cola" style="width:10%;padding-top:2%;">
             <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
  <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
</svg></a>
              </div>


              </div>

<br>
           <div class="rowa" style="gap:10px;padding-left:10%;">
              <div class="cola">
              <i class="bi bi-person-circle" id="comment_icon" style="font-size:30px;"></i>
              </div>

              <div class="cola">
                      <div class="rowa" style="font-size:medium">
                      Name
                      </div>

                      <div class="rowa" style="opacity:50%;color:grey; font-size:small">
                      date and Time
                      </div>


              <div class="rowa"  style="align-self:flex-start;padding-left:10%;padding-top:3%;width:250%;font-size:25px">
              This is the comment given to the post
              </div>

              </div>
          </div>

<br>
           <div class="rowa" style="gap:10px;padding-left:10%;">
              <div class="cola">
              <i class="bi bi-person-circle" id="comment_icon" style="font-size:30px;"></i>
              </div>

              <div class="cola">
                      <div class="rowa" style="font-size:medium">
                      Name
                      </div>

                      <div class="rowa" style="opacity:50%;color:grey ;font-size:small">
                      date and Time
                      </div>


              <div class="rowa"  style="align-self:flex-start;padding-left:10%;padding-top:3%;width:250%;font-size:25px">
              This is the comment given to the post
              </div>



              </div>
          </div>



    </div>

    </div>
    </div>
    <% end%>
    <br><br>
  </div>


<div id="col3">
  <div class="box">

    <div class="c">
    <div class="r">
    <%= link_to '<i class="bi bi-plus-square-fill"style="font-size:50px;"  id="icon-1" onmouseover="toggleone()"  onmouseout="mouseone()"></i> '.html_safe ,new_blog_path%>
    </div>
    <div id="ic-1">Add Blog</div>
    </div>



    <div class="c">
    <div class="r">
    <%= link_to '<i class="bi bi-info-square-fill"style="font-size:50px;"  id="icon-2" onmouseover="toggletwo()" onmouseout="mousetwo()"></i>'.html_safe ,blogs_path(id:current_user.id)%>
    </div>
    <div id="ic-2">Show Blogs</div>
    </div>

    <div class="c">
    <div class="r">
    <%= link_to '<i class="bi bi-bookmark-check-fill"style="font-size:50px;" id="icon-3" onmouseover="togglethree()"  onmouseout="mousethree()"></i>'.html_safe ,new_blog_path%>
    </div>
    <div id="ic-3">Bookmark Blog</div>
    </div>

    <div class="c">
    <div class="r">
    <%= link_to '<i class="bi bi-dash-square-fill"style="font-size:50px;" id="icon-4" onmouseover="togglefour()"  onmouseout="mousefour()" ></i>'.html_safe ,new_blog_path%>
    </div>
    <div id="ic-4">Delete Blog</div>
    </div>

  </div>

</div>

</div>
<div id="row4">
<%= render 'partials/footer' %>

</div>
</div>


<script>
		function toggleSection() {
			var section = document.getElementById("chat1");
			if (section.style.display === "none") {
				section.style.display = "block"; /* Show the section */
			} else {
				section.style.display = "none"; /* Hide the section */
			}
		}

    function toggleone() {
			var section = document.getElementById("ic-1");
			section.style.display = "block"; /* Show the section */

      var sec= document.getElementById("icon-1");
      sec.style.color="blue";
		}

    function mouseone()
    {
			var section = document.getElementById("ic-1");
			section.style.display = "none"; /* Show the section */

      var sec= document.getElementById("icon-1");
      sec.style.color="lightgoldenrodyellow";
		}

    function toggletwo() {
			var section = document.getElementById("ic-2");
			section.style.display = "block"; /* Show the section */

      var sec= document.getElementById("icon-2");
      sec.style.color="green";
		}

    function mousetwo()
    {
			var section = document.getElementById("ic-2");
			section.style.display = "none"; /* Show the section */

      var sec= document.getElementById("icon-2");
      sec.style.color="lightgoldenrodyellow";
		}

    function togglethree() {
			var section = document.getElementById("ic-3");
			section.style.display = "block"; /* Show the section */

      var sec= document.getElementById("icon-3");
      sec.style.color="yellow";
		}

    function mousethree()
    {
			var section = document.getElementById("ic-3");
			section.style.display = "none"; /* Show the section */

      var sec= document.getElementById("icon-3");
      sec.style.color="lightgoldenrodyellow";
		}

    function togglefour() {
			var section = document.getElementById("ic-4");
			section.style.display = "block"; /* Show the section */

      var sec= document.getElementById("icon-4");
      sec.style.color="red";

		}

    function mousefour()
    {
			var section = document.getElementById("ic-4");
			section.style.display = "none"; /* Show the section */

      var sec= document.getElementById("icon-4");
      sec.style.color="lightgoldenrodyellow";
		}

	</script>
